<div class="banniere">
    <div class="contenu">
        <h2 class="writingdescription1" style="text-transform:none">Votre Leader dans la Transformation de Plantes Alimentaires et Médecinales</h2>
      
        <p class="writingdescription2">FAM Moringa est en collaboration avec une trentaine de « petits producteurs » exerçant dans la culture, la production et la transformation de plantes alimentaires et médicinales comme le moringa, le bissap, le gombo, le manioc, le kinkéliba, les feuilles et fruits de baobab, les mangues séchées.</p><h1 class="soulign1"> Nous sommes une PME composée de <strong class="soulign2">95% de femmes</strong></h1>
        
        <a href="#" class="btn1">Nos produits</a>
        <a href="#" class="btn2">Reservation</a>
      </div>      
</div>