<div class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(../../assets/images/imgone.webp);">
    <div class="full-bg-img mask rgba-black-light">
        <div class="container flex-center">
            <div class="row pt-5 mt-3 w-100">
                <div class="col-md-12">
                    <div class="text-center">
                        <div class="center">
                            <h1>
                                À propos de nous
                            </h1>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>