<div class="contact">

    <div class="titre noir">
         <h2 class="titre-text"><span>C</span>ontact</h2>
         <p>La structure FAM Moringa à travers sa gamme de produits « FAMFA » constitue un point focal de rencontre entre producteurs et acheteurs de divers produits agricoles locaux en milieu rural.</p>
     </div>
     <div class="contactform">
         <h3>Envoyer un message</h3>
         <div class="inputboite">
             <input type="text" placeholder="Nom">
         </div>
         <div class="inputboite">
            <input type="text" placeholder="email">
         </div>
         <div class="inputboite">
            <textarea placeholder="message"></textarea>
         </div>
         <div class="inputboite">
             <input type="submit" value="envoyer">
         </div>
         <div class="contactmap">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1179.466177997487!2d-16.995512894365127!3d14.922133038569658!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xec1b99305d932a3%3A0x2a31a802b0a54f37!2sMont%20Roland!5e1!3m2!1sfr!2ssn!4v1674241556965!5m2!1sfr!2ssn" width="430" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>            
        </div>
     </div>

</div>